/*
    Created on : 18/08/2021, 15:12:47
    Author     : alex
*/

.tab-pane>*.tab-header-area>*.tab-header-background{
    -fx-background-color: #CFD8DC;
    -fx-background-radius: 5 5 0 0;
}

.tab-pane>*.tab-header-area{
    -fx-background-radius: 10;
}

.jfx-tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}

.jfx-tab-pane *.headers-region *.tab-selected-line {
    -fx-background-color: #03A9F4;
}

.jfx-tab-pane *.headers-region *.tab *.tab-container *.tab-label {
    -fx-background-color: #546E7A;
    -fx-background-radius: 8 8 0 0;
}

.jfx-tab-pane *.headers-region *.tab:selected *.tab-container *.tab-label {
    -fx-background-color: #263238;
}

.jfx-tab-pane *.headers-region *.tab *.tab-container *.tab-label {
    -fx-font-size: 13px;
    -fx-font-family: "Montserrat";
}

.saveBtn {
    -fx-background-color: #263238;
}

.closeBtn {
    -fx-background-color: #263238;
}

.saveBtn .text{
    -fx-font-size: 13px;
    -fx-font-family: "Montserrat";
}

.closeBtn .text{
    -fx-font-size: 13px;
    -fx-font-family: "Montserrat";
}

.text-area *.content {
    -fx-background-color:#37474F;
    -fx-padding: 15;
}

.line-area *.content{
    -fx-background-color:#37474F;
    -fx-padding: 15 8 15 0;
}

.line-area *.text{
    -fx-text-alignment: right;
}

.line-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}
.line-area .scroll-bar:horizontal {
    -fx-pref-height: 1;
    -fx-opacity: 0;
}

.jfx-tab-pane *.headers-region>*.tab>*.jfx-rippler {
    -jfx-rippler-fill: #fff;
}

.output-console *.content {
    -fx-background-color:#263238;
    -fx-background-radius:10;
}
